In [1]:
import pandas as pd

# bài 1: 
series = pd.Series(list(range(1, 6)))
print('Series:')
print(series)

name = ['An', 'Bình', 'Châu', 'Dũng']
score = [8.5, 7.0, 6.5, 9.0]
df = pd.DataFrame({'name': name, 'score': score})

print('\nDataFrame info:')
df.info()

print('\nDataFrame describe:')
print(df.describe())

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   score   4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 196.0+ bytes

DataFrame describe:
          score
count  4.000000
mean   7.750000
std    1.190238
min    6.500000
25%    6.875000
50%    7.750000
75%    8.625000
max    9.000000

In [2]:
import pandas as pd

# bài 2
name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]
df2 = pd.DataFrame({'name': name, 'age': age, 'score': score})

print('\nDataFrame:')
print(df2)

print('\nDataFrame filtered by loc[]:')
print(df2.loc[df2['score'] >= 8])

print('\nDataFrame filtered by iloc[]:')
print(df2.iloc[:, [1]])

print('\nDataFrame filtered by query():')
print(df2.query('score > 7 and age < 23'))

DataFrame:
   name  age  score
0    An   20    8.5
1  Bình   21    7.0
2  Châu   22    6.5
3  Dũng   20    9.0

DataFrame filtered by loc[]:
   name  age  score
0    An   20    8.5
3  Dũng   20    9.0

DataFrame filtered by iloc[]:
   age
0   20
1   21
2   22
3   20

DataFrame filtered by query():
   name  age  score
0    An   20    8.5
3  Dũng   20    9.0

In [12]:
# bài 3
name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, None, 22, 20]
score = [8.5, None, 6.5, 9.0]
df3 = pd.DataFrame({'name': name, 'age': age, 'score': score})
print('\nDữ liệu ban đầu:')
print(df3)

print('\n\nDữ liệu thiếu kiểm tra bằng isna():')
print(df3.isna())

age_mean = df3['age'].mean()
score_mean = df3['score'].mean()
df3_filled = df3.copy()
df3_filled['age'] = df3_filled['age'].fillna(age_mean)
df3_filled['score'] = df3_filled['score'].fillna(score_mean)
print('\n\nDataFrame sau khi thay thế NaN bằng fillna():')
print(df3_filled)

print('\n\nDataFrame sau khi loại bỏ NaN bằng dropna():')
print(df3.dropna())

Dữ liệu ban đầu:
   name   age  score
0    An  20.0    8.5
1  Bình   NaN    NaN
2  Châu  22.0    6.5
3  Dũng  20.0    9.0


Dữ liệu thiếu kiểm tra bằng isna():
    name    age  score
0  False  False  False
1  False   True   True
2  False  False  False
3  False  False  False


DataFrame sau khi thay thế NaN bằng fillna():
   name        age  score
0    An  20.000000    8.5
1  Bình  20.666667    8.0
2  Châu  22.000000    6.5
3  Dũng  20.000000    9.0


DataFrame sau khi loại bỏ NaN bằng dropna():
   name   age  score
0    An  20.0    8.5
2  Châu  22.0    6.5
3  Dũng  20.0    9.0

In [11]:
# bài 4
df4 = pd.DataFrame({'name': ['An', 'Bình', 'Châu', 'Dũng'],
                    'age': [20, 21, 22, 20],
                    'score': [8.5, 7.0, 6.5, 9.0]})

df4['age_group'] = df4['age'].apply(lambda x: 'Young' if x <= 20 else 'Adult')
print('\n\nDataFrame sau khi áp dụng apply():')
print(df4)

score_map = {8.5: 'Excellent', 7.0: 'Good', 6.5: 'Average', 9.0: 'Excellent'}
df4['score_level'] = df4['score'].map(score_map)
print('\n\nDataFrame sau khi map():')
print(df4)

df4_astyped = df4.copy()
df4_astyped['score'] = df4_astyped['score'].astype(int)
print('\n\nDataFrame sau khi astype():')
print(df4_astyped[['name','age','score']])

df4_replaced = df4.copy()
df4_replaced['name'] = df4_replaced['name'].replace({'Bình': 'Bình (Updated)'})
print('\n\nDataFrame sau khi replace():')
print(df4_replaced)

DataFrame sau khi áp dụng apply():
   name  age  score age_group
0    An   20    8.5     Young
1  Bình   21    7.0     Adult
2  Châu   22    6.5     Adult
3  Dũng   20    9.0     Young


DataFrame sau khi map():
   name  age  score age_group score_level
0    An   20    8.5     Young   Excellent
1  Bình   21    7.0     Adult        Good
2  Châu   22    6.5     Adult     Average
3  Dũng   20    9.0     Young   Excellent


DataFrame sau khi astype():
   name  age  score
0    An   20      8
1  Bình   21      7
2  Châu   22      6
3  Dũng   20      9


DataFrame sau khi replace():
             name  age  score age_group score_level
0              An   20    8.5     Young   Excellent
1  Bình (Updated)   21    7.0     Adult        Good
2            Châu   22    6.5     Adult     Average
3            Dũng   20    9.0     Young   Excellent

In [10]:
# bài 5
df5 = pd.DataFrame({'name': ['An', 'Bình', 'Châu', 'Dũng'],
                    'age': [20, 21, 22, 20],
                    'score': [8.5, 7.0, 6.5, 9.0]})

grouped = df5.groupby('age')['score'].agg(['mean','min','max']).reset_index()
grouped.columns = ['age','mean_score','min_score','max_score']
print('\n\nGroupby age:')
print(grouped)

Groupby age:
   age  mean_score  min_score  max_score
0   20        8.75        8.5        9.0
1   21        7.00        7.0        7.0
2   22        6.50        6.5        6.5

In [9]:
# bài 6
df1 = pd.DataFrame({'id': [1,2,3], 'name': ['An','Bình','Châu']})
df2 = pd.DataFrame({'id': [1,2,3], 'score': [8.5,7.0,6.5]})
merged = pd.merge(df1, df2, on='id')
print('\n\nMerged DataFrame:')
print(merged)

ages = pd.DataFrame({'age':[20,21,22]})
concat_df = pd.concat([merged, ages], axis=1)
print('\n\nConcatenated DataFrame:')
print(concat_df)

Merged DataFrame:
   id  name  score
0   1    An    8.5
1   2  Bình    7.0
2   3  Châu    6.5


Concatenated DataFrame:
   id  name  score  age
0   1    An    8.5   20
1   2  Bình    7.0   21
2   3  Châu    6.5   22

In [8]:
# bài 7
df7 = pd.DataFrame({'date': ['2023-01-01','2023-02-01','2023-03-01'],
                    'name': ['An','Bình','Châu']})
df7['date'] = pd.to_datetime(df7['date'])
print('\n\nDate converted to datetime:')
print(df7)
print('\n\nExtracted Year:')
print(df7['date'].dt.year)
df7['name'] = df7['name'].astype('category')
print('\n\nCategory Type for name:')
print(df7['name'])

Date converted to datetime:
        date  name
0 2023-01-01    An
1 2023-02-01  Bình
2 2023-03-01  Châu


Extracted Year:
0    2023
1    2023
2    2023
Name: date, dtype: int32


Category Type for name:
0      An
1    Bình
2    Châu
Name: name, dtype: category
Categories (3, object): ['An', 'Bình', 'Châu']

In [7]:
import pandas as pd
import numpy as np
from pathlib import Path
import json

# bài 8
logs_dir = Path('logs')
logs_dir.mkdir(exist_ok=True)
sample1 = logs_dir / 'log_2024-01-01.json'
sample2 = logs_dir / 'log_2024-01-02.json'
if not sample1.exists():
    sample1.write_text(json.dumps({'user':'A','action':'login','duration':5}))
if not sample2.exists():
    sample2.write_text(json.dumps({'user':'B','action':'logout','duration':3}))

records = []
for p in sorted(logs_dir.glob('log_*.json')):
    date_str = p.stem.replace('log_','')
    try:
        payload = json.loads(p.read_text())
    except Exception:
        continue
    payload['date'] = pd.to_datetime(date_str).date()
    records.append(payload)

logs_df = pd.DataFrame(records)
if not logs_df.empty:
    summary = logs_df.groupby('date')['duration'].sum().reset_index()
    for _, row in summary.iterrows():
        print(f"Date: {row['date']}, Total Duration: {row['duration']}")
    summary.to_csv('logs_summary.csv', index=False)
else:
    print('\nNo logs found.')

Date: 2024-01-01, Total Duration: 5
Date: 2024-01-02, Total Duration: 3